<div style=" height: 100% !important;">
    <img src="assets/image1.png" alt="" style="margin-top: 100px; height: 200px; width: 100%;">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <h3 class="page-title"><b>Together we will win over this covid 19</b> </h3>
    </div>

    <img src="assets/image2.png" alt="" style="margin-top: 10px; height: 100px; margin-left: 130px;"> <br>

    <button class="btn  btn-primary col-12"
        style="border-radius: 10px; margin-top: 38px; background-color: green; border-color: green;"
        routerLink="/patientDashboard"> <b>Click to Win</b> </button>

<div class="main-footer d-flex p-2 px-3 bg-white border-top" style="margin-top: -110px;">

    <h6 style="margin-top: 110px; text-align: center; color: blue; ">
        <b style="font-weight: 400 !important;" >Designed and developed by <br>
        National Informatics Centre, Odisha </b> </h6>
</div>
       

</div>