.heading {
    background-color: #c9dac2;
    border-radius: 10px;
    padding: 5px;
    border: solid 1px #83a378;
}
.heading-text {
    font-weight: bold;
    color: brown;
    height: 100%;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 0px;
    margin-left: 1px;
}
.header-icon {
    height: 86px;
    width: 110px;
    margin-top: -17px;
    margin-bottom: -20px;
}
.field-icon {
    height: 130px;
    width: 110px;
}
.field-text {
    font-weight: bold;
    color: brown;
    text-align: center;
}
.field-input {
    border: solid 2px !important;
    font-weight: bold;
}
.btn{
    font-weight: bold;
}
.field {
    margin-top: 15px;
    border: solid 2px lightgray;
    border-radius: 10px;
    padding: 3px;
    background-color: white
}
.left-input-field{
    padding-right: 5px;
}
.right-input-field{
    padding-left: 4px;
}
.page-header {
    padding-top: 0.5rem!important;
}
.main-content-container {
    padding-left: 0.8rem!important;
    padding-right: 0.8rem!important;
}