<div class="main">
    <img src="assets/CORONA-WARRIORS.jpg" style="width: 100%;">

    <img src="assets/image2.png" style="margin-top: 10px; height: 100px; margin-left: 130px;"> <br>

    <button class="btn  btn-primary col-12"
        style="border-radius: 10px; margin-top: 38px; background-color: green; border-color: green;"
        routerLink="/rrt/rrtVisit"> <b>Join the War</b> </button>

<div class="main-footer d-flex p-2 px-3 bg-white border-top" style="margin-top: -110px;">

    <h6 style="margin-top: 160px; text-align: center; color: blue; ">
        <b style="font-weight: 400 !important;" >Designed and developed by <br>
        National Informatics Centre, Odisha </b> </h6>
</div>
       

</div>