<div class="container-fluid">
    <div class="row">
  
        <app-ccd-sidebar></app-ccd-sidebar>
  
      <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">



<app-ccd-header></app-ccd-header>

<div class="main-content-container container-fluid px-4">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <h3 class="page-title">Video conference with patient</h3>
        </div>
    </div>
    <div class="card card-small mb-4">
        <div class="card-header border-bottom bg-primary">
          <h6 class="m-0">VC</h6>
        </div>
        <div class="card-body p-0 pb-3 text-center">
            <div>
                <video id="Rvideo" class="vc-video" autoplay="autoplay"></video>
                <video id="Ivideo" class="vc-video vc-my-video" autoplay="autoplay" muted="muted"></video>
            </div>
            <br><br>
            <div>
        
        
            </div>

        </div>
      </div>

</div>




<app-ccd-footer></app-ccd-footer>

</main>
</div>
</div>
